@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
@font-face {
  font-family: Uthman Taha;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../src/assets/fonts/KFGQPC\ Uthmanic\ Script\ HAFS\ Regular.otf");
}

@theme {
  --font-uthman-taha: Uthman Taha;
}